<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="exceptionless" type="Exceptionless.ExceptionlessSection, Exceptionless" />
  </configSections>
  
  <exceptionless apiKey="LhhP1C9gijpSKCslHHCvwdSIz298twx271n1l6xw" serverUrl="http://localhost:5000" enabled="true">
    <settings>
      <add name="TraceLogLimit" value="30" />
    </settings>
  </exceptionless>
  <system.net>
    <defaultProxy enabled="true" />
  </system.net>
</configuration>
