name: Build Windows
on: [push, pull_request]
env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 0
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.201
    - name: Build Reason
      run: "echo ref: ${{github.ref}} event: ${{github.event_name}}"
    - name: Build Version
      shell: bash
      run: |
        dotnet tool install --global minver-cli --version 2.3.1
        version=$(minver --tag-prefix v)
        echo "MINVERVERSIONOVERRIDE=$version" >> $GITHUB_ENV
    - name: Build
      run: dotnet build --configuration Release Exceptionless.Net.Windows.sln
    - name: Run Tests
      run: dotnet test --configuration Release --no-build Exceptionless.Net.Windows.sln
    - name: Package
      if: github.event_name != 'pull_request'
      run: dotnet pack --configuration Release --no-build Exceptionless.Net.Windows.sln
    - name: Install GitHub Package Tool
      if: github.event_name != 'pull_request'
      run: dotnet tool install gpr -g
    - name: Publish CI Packages
      shell: bash
      if: github.event_name != 'pull_request'
      run: |
        for package in $(find -name "*.nupkg" | grep "minver" -v); do
          echo "${0##*/}": Pushing $package...

          # GitHub
          gpr push $package -k ${{ secrets.GITHUB_TOKEN }} || true

          # Feedz (remove once GitHub supports anonymous access)
          dotnet nuget push $package --source https://f.feedz.io/exceptionless/exceptionless/nuget --api-key ${{ secrets.FEEDZ_KEY }} --skip-duplicate
        done
    - name: Publish Release Packages
      shell: bash
      if: startsWith(github.ref, 'refs/tags/v')
      run: |
        for package in $(find -name "*.nupkg" | grep "minver" -v); do
          echo "${0##*/}": Pushing $package...
          dotnet nuget push $package --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_KEY }} --skip-duplicate
        done
